<div class="do-w-10 do-flex do-x- do-space-center">
    <span class="do-block do-fw-light">
        <span class="do-o-5">.do</span>-
        <span class="do-bg-main-color do-txt-main-color-auto do-fw-regular">{{class}}</span>-
        <span class="do-bg-second-color-lighten do-txt-main-color-auto do-fw-regular">{{name}}</span>-
        {{#if maxo}}
        <span class="do-bg-extra-color-darken">size</span> || <span class="do-bg-extra-color-darken">0...{{maxo}}</span>
        {{else}}
        <span class="do-bg-extra-color-darken">size</span>
        {{/if}}
    </span>   
    <span class="do-inline-block do-fw-bold uppercase do-fs-xxs do-bg-extra-color-darken">{{unit}}</span>  
</div>
           