{{> head}}
{{> nav}}

<section class="por do-px-smart-xxxl do-py-xxl por do-z-1 do-h-10-vh">
    <div class="get-progress:trans-y-xxxl">
        <h1 class="get-progress:o-reverse">{{pageHome.title}}</h1>
        <p class="get-progress:o-reverse">{{pageHome.text}}</p>
    </div>
</section>

<div class="do-hide"
    data-module="_domousedatas"
    data-do-target-id="cercle01"
    data-do-calcul="go-in"
    data-do-rayon="2" 
    data-do-offset="0" 
    data-do-force="1"
    >
</div>

<!--
<div class="do-hide" data-module="dotweens"
        data-do-target=".square"
        data-do-stage="#colors"
        data-do-scrub="0"
        data-do-order-tween="random"
        data-do-batch-tween="false"
        data-do-start="top center+=25%"
        data-do-end="bottom bottom"
        data-do-motion-tween="fade-in">
</div>
-->


<section id="colors" class="por do-px-smart-xxxl h-auto do-gap-md do-grid-2 xl-do-grid-5 do-col do-py-xxl por do-z-1">

    {{#each pageDo.colors}}
    <div class="set-main-{{name}}">
        {{> block/heading/h3}}

        <div class="square do-bg-main-color do-mb-xxxs">
            
            <div class="content do-flex do-wrap do-justify-content-end do-align-content-end">
       
                {{#each ../pageDo.variantes}}
                    <div class="do-h-5 do-w-5 do-bg-main-color{{variante}}">

                    </div>
                {{/each}}
            </div>
            
        </div>
        <div class="do-grid-3 do-gap-xxxs do-mb-xxxs">
            {{#each ../pageDo.variantes}}
            <div class="square">
                <div class="content">
                    <div class="do-grid-3 do-gap-xxxs">
                        {{#each ../../pageDo.looper}}
                            <div class="square">
                                <div class="content do-bg-main-color-{{i}}{{variante}}"></div>
                            </div>
                        {{/each}}
                    </div>
                </div> 
            </div>
            {{/each}}
        </div>
   
        <div class="do-grid-14 do-gap-xxxs">

            {{#each pageDo.looper}}
                <div class="square">
                    <div class="content do-bg-main-color-grad-linear-gold-{{i}}"></div>
                </div>
                <div class="square">
                    <div class="content do-bg-main-color-grad-linear-{{i}}"></div>
                </div>
            {{/each}}

        </div>
    </div>
    {{/each}}

</section>


<div 
  data-module="doscrolldatas"
  data-do-target="#colors-progress"
  data-do-calcul="full"
  data-do-update="true"
  data-do-start="top-=0% center"
  data-do-end="bottom-=0% bottom"
  data-do-force="1"
  >
</div>
<section id="colors-progress" class="por h-auto full-x do-grid-1 do-col do-py-xxl por do-z-1">

    <div class="do-px-smart-xxxl do-mb-xl do-flex do-flex-center">
        <h2 class="do-mb-0">Colors motions</h2>
    </div>
    <div class="poa do-full do-bg-second-color-1-lighten"></div>
    <div class="do-grid-5 por do-z-1">
 
        <div>
            <div class="square por">
                <div class="content get-progress:bg-main-S"></div>
            </div>
        </div>
        <div>
            <div class="square por">
                <div class="content get-progress:bg-extra-S"></div>
            </div>
        </div>
        <div>
            <div class="square por">
                <div class="content get-progress:bg-fade-S"></div>
            </div>
        </div>
        <div>
            <div class="square por">
                <div class="content get-progress:bg-second-S"></div>
            </div>
        </div>
        <div>
            <div class="square por">
                <div class="content get-progress:bg-contraste-S"></div>
            </div>
        </div>
        <div>
            <div class="square por">
                <div class="content get-progress:bg-main-L"></div>
            </div>
        </div>
        <div>
            <div class="square por">
                <div class="content get-progress:bg-extra-L"></div>
            </div>
        </div>
        <div>
            <div class="square por">
                <div class="content get-progress:bg-fade-L"></div>
            </div>
        </div>
        <div>
            <div class="square por">
                <div class="content get-progress:bg-second-L"></div>
            </div>
        </div>
        <div>
            <div class="square por">
                <div class="content get-progress:bg-contraste-L"></div>
            </div>
        </div>
       
    </div>

  
  
</section>





{{> footer}}
{{> foot}}