{{> head pageName=pageDo.pages.class.title}}
{{> nav}}


<script type="text/javascript" src="{{asset 'js/do/modules/do-module-tags.js'}}"></script>


<section class="por h-auto do-px-smart-xxxl do-pt-xxl do-pb-md por do-z-1 do-h-10-vh">
    <div class="do-flex do-x do-start-center por">
        <a class="do-p-sm poa left-n-xs-rem do-br-xl do-bg-extra-color-main-grad-linear-3 trans-y-middle-x-before " href="../do.html">
            <div class="do-wh-xs poa top-middle left trans-y-middle-x-before do-z-2">
                {{> assets/icones/prev}}
            </div>

            <span class="do-z-2 do-fs-sm por do-txt-main-contraste-auto do-fw-light">do</span>
            <div class="do-z-1 do-full do-br-xl do-bg-second-color poa top-n-xl left-n-xl"></div>  
        </a>
        <h1>{{pageDo.pages.class.title}}</h1>
    </div>
    <p class="do-w-max-md">Lorem ipsum dolor sit amet consectetur adipisicing elit. Similique saepe ducimus ex cupiditate suscipit esse nostrum mollitia repellendus minima. Quia nemo ipsum fugiat est? Sunt quas repudiandae pariatur quos tenetur.</p>

</section>

<div class="do-flex do-x do-gap-xs do-px-smart-xxxl do-w-9 pos top do-z-9 do-start-center">
    <input id="rechercheArea" class="do-p-xs reset no-focus do-txt-main-color-auto do-bg-main-color-darken do-fs-xs" type="text" name="class" placeholder="Recherche">
    <nav id="inside-page-nav" class="do-flex do-x do-gap-xs">
        {{#classDo}}
        <a class="cursor-pointer do-bg-second-color do-txt-contraste-color active:do-txt-second-color do-p-xs active:do-bg-contraste-color do-bg-second-color-lighten:hover" data-do-id-section-page="{{name}}">{{name}}</a>
        {{/classDo}}
    </nav>
    <nav class="do-hide md:do-flex do-x do-x-start-center do-gap-xs poa top right">
        <a data-module="dotoggler" class="cursor-pointer do-txt-contraste-color do-p-xs do-bg-second-color-darken active:do-bg-main-color" data-do-multi="true" data-do-debug="alpha" data-do-custom-target-class="alpha:do-block" data-do-target="#class">infos</a>
        <a data-module="dotoggler" class="cursor-pointer do-txt-contraste-color do-p-xs active:do-bg-second-color-darken do-bg-main-color" data-do-multi="true" data-do-debug="gamma" data-do-custom-target-class="gamma:do-hide" data-do-target="#class">responsive</a>  
        <a data-module="dotoggler" class="cursor-pointer do-txt-contraste-color do-p-xs active:do-bg-second-color-darken do-bg-main-color" data-do-multi="true" data-do-debug="delta" data-do-custom-target-class="delta:do-hide" data-do-target="#class">variantes</a>
    </nav>
</div>

<div
  data-module="dofilters"
  data-do-stage="#class"
  data-do-target=".page-section"
  data-do-nav="#inside-page-nav"
  data-do-bt-attr="data-do-id-section-page"
  data-do-custom-data="data-do-id-section-page"
  data-do-attr="id"
  data-do-sep=""
  data-do-type="solo"
  data-do-tag-index="0"
  data-do-class-toggle="all-active:do-hide"
>
</div>


<div 
  data-module="doscrolldatas"
  data-do-target="#class"
  data-do-trigger-calcul="body"
  data-do-calcul="full"
  data-do-update="true"
  data-do-start="top-=0% center"
  data-do-end="bottom-=0% bottom"
  data-do-force="1"
  >
</div>

<section id="class" class="por do-w-10 do-px-smart-xxxl h-auto do-py-xxl por do-z-1 do-flex do-y do-start-start do-gap-xl">


    {{#each classDo}}

        <div id="{{name}}" class="page-section do-pr-xl xl:do-pr-xxxs do-w-10">
            <h2 class="do-mb-md do-fs-fluid-lg">{{name}}</h2>
            
            <div class="do-grid-1 md:do-grid-2 lg:do-grid-3 do-gap-md">
                {{#each group}}
                    <div class="do-bg-second-color-lighten  {{#if (isNotFalse responsive)}}do-block gamma:do-hide{{/if}}">
                       
                        
                        <div class="do-p-xs por">
                            {{> block/classTitle}}
                            <div class="do-w-10 do-hide alpha:do-block">
                                {{> block/classInfos}}
                                {{#if (isNotFalse doloop)}}
                                {{> block/classSizes sizes=../../pageDo.sizes}}
                                {{/if}}
                                
                                {{#if maxo}}
                                {{> block/classSizesMaxo}}
                                {{/if}}
                                {{#if variations}}
                                {{> block/classVariantes}}
                                {{/if}}
                                {{#if (isNotFalse responsive)}}
                                {{> block/classResponsive bps=../../pageDo.breakPoints }}
                                {{/if}}
                            </div>
                        </div>

                  
                        {{#if extend}}
                        <div class="do-p-xs do-bg-second-color-darken do-w-10 do-flex do-y do-w-10 delta:do-hide">
                            {{#each extend}}
                                {{> block/classLine class=../name}}
                            {{/each}}
                        </div>
                        {{/if}}
                        
                    </div>
                {{/each}}
            </div>

   
        </div>

    {{/each}}

</section>




{{> footer}}
{{> foot}}